
body{
    
    background-color:#1A0B2E;
}
nav>*{
color: whitesmoke;

}
section{
    padding-top: 100px;
    /* background-image: url(/assets/hero-bg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
